<form action="#0">
    <div>

        <input type="text" name="firstname" id="firstname" placeholder=" " required>
        <label for="firstname">First name</label>
    </div>
    <div>

        <input type="text" name="lastname" id="lastname" placeholder=" " required>
        <label for="lastname">Address</label>
    </div>
    <div>

        <input type="tel" name="tel" id="tel" placeholder=" "
            pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$" required>
        <label for="tel">Phone No.</label>
        <div class="requirements"> Must be a valid Phone Number!</div>
    </div>
    <div>
        <input type="email" name="email" id="email" placeholder=" " required>
        <label for="email">Email</label>
        <div class="requirements"> Must be a valid email addres!</div>
    </div>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <input type="submit" value="Book" />
</form>