<div class="about-section">
    <h1>About Us</h1>
    <p>This project provides a medium for public to book parking spot for their vehicle.</p>
  </div>
  <br>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/logo4.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Amisha Jadhav</h2>
          <p class="title">Angular Group-1</p>
          <p>amisha@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/logo4.jpg" alt="Aakash" style="width:100%">
        <div class="container">
          <h2>Aakash Parmar</h2>
          <p class="title">Angular Group-1</p>
          <p>aakash@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/logo4.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Aditya Bote</h2>
          <p class="title">Angular Group-1</p>
          <p>aditya@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  